/* styling fot destop view */
@font-face {
    font-family: pixels;
    src: url("./Press_Start_2P/PressStart2P-Regular.ttf");
}
*{
    font-family: pixels;
}
body{
    background-image: url("./Asserts/Level\ Selection\ page1.png");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
h1{
    position: relative;
    top: 180px;
    left: 42%;
    color: white;
    font-size: 2.5rem;
}
.levels{
    position: relative;
    left: 15%;
    top: 200px;
    display: flex;
    justify-content: space-around;
    width: 1700px;
}
p{
    position: relative;
    top: 330px;
    left: 48%;
    color: white;
    font-size: 10px;
    z-index: 1001;
}
#downarrow{
    position: absolute;
    top: 400px;
    height: 200px;
    left: 630px;
}
#level3unlocked{
    display: none;
    top: 250px;
    right: 850px;
}
#level1,#level2,#level3unlocked,#level3{
    position: relative;
    height: 200px;
}
#level3{
    top: 250px;
    right: 850px;
    z-index: 1001;
}
#level1:hover{
    bottom: 10px;
    right: 10px;
    border-radius: 11px;
    background: #FFF;
    box-shadow: 8px 11px 4px 0px rgba(255, 255, 255, 0.25);
}
#level2:hover{
    bottom: 10px;
    right: 10px;
    border-radius: 11px;
    background: #FFF;
    box-shadow: 8px 11px 4px 0px rgba(255, 255, 255, 0.25);
}
#level3:hover{
    border-radius: 11px;
    background: #FFF;
    box-shadow: 8px 11px 4px 0px rgba(255, 255, 255, 0.25);
}
#level3unlocked:hover{
    border-radius: 11px;
    background: #FFF;
    box-shadow: 8px 11px 4px 0px rgba(255, 255, 255, 0.25);
}
/* mobile responsive */
@media (orientation:portrait) {
    body{
        background-image: url("./Asserts/level\ selection\ page\ mobile\ responsive.png");
        background-size: 135%;
        background-color: black;
    }

    h1{
        position: relative;
        top: 180px;
        left: 35%;
        color: white;
        font-size: 1rem;
    }
    #level1,#level2,#level3,#level3unlocked{
        height: 100px;
    }
    .levels{
        position: relative;
        top: 250px;
        left:-3%;
        display: flex;
        width: 700px;
    }
    #level3{
        position: relative;
        left: -320px;
        top: 150px;
    }
    p{
        position: relative;
        top: 360px;
        left: 48%;
        font-size: 7px;
    }
    #downarrow{
        position: absolute;
        top: 400px;
        height: 60px;
        left: 200px;
    }
    #level3unlocked{
        position: relative;
        top: 10px;
    }
}